In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [ ]:
data_preprocessed=pd.read_csv('Absenteeism_preprocessed.csv')

In [ ]:
data_preprocessed.head()

,Diseases,Birth_related_issues,Poisoning,Light_issues,Month_Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

CREATE TARGETS

In [ ]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [ ]:
def replacer(number):
  if number>data_preprocessed['Absenteeism Time in Hours'].median():
    a=1
  else:
    a=0
  return a

In [ ]:
data_preprocessed['Excessive Absenteeism']=data_preprocessed['Absenteeism Time in Hours'].apply(replacer)

In [ ]:
data_preprocessed.head()

,Diseases,Birth_related_issues,Poisoning,Light_issues,Month_Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [ ]:
#Always import to have a balanced dataset.
#Another way to get the targets table.
#targets= np.where(data_preprocessed['Absenteeism Time in Hours'] >
#data_preprocessed['Absenteeism Time in Hours'].median(),1,0)

In [ ]:
data_with_targets= data_preprocessed.drop(['Absenteeism Time in Hours','Day of the week','Daily Work Load Average','Distance to Work'],axis=1)

In [ ]:
unscaled_inputs=data_with_targets.iloc[:,:-1]

In [ ]:
from sklearn.preprocessing import StandardScaler

absenteeism_scalar = StandardScaler()

In [ ]:
absenteeism_scalar.fit(unscaled_inputs)

StandardScaler()

In [ ]:

scaled_inputs=absenteeism_scalar.transform(unscaled_inputs)

In [ ]:
targets=data_with_targets.iloc[:,-1]

In [ ]:
targets

0      1
1      0
2      0
3      1
4      0
      ..
695    1
696    0
697    1
698    0
699    0
Name: Excessive Absenteeism, Length: 700, dtype: int64

SPLITTING THE TESTING THE DATA

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs,targets, train_size=0.8,random_state=20)

LOGISTIC REGRESSION WITH SKLEARN

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [ ]:
reg = LogisticRegression()

In [ ]:
reg.fit(x_train,y_train)

LogisticRegression()

In [ ]:
reg.score(x_train,y_train)

0.7839285714285714

In [ ]:
feature_name=unscaled_inputs.columns.values

In [ ]:
#A way to create a dataframe in python
summary_table= pd.DataFrame (columns=['Feature name'], data = feature_name)

In [ ]:
summary_table['Coefficient']=np.transpose(reg.coef_)

In [ ]:
summary_table

              Feature name  Coefficient
0                 Diseases     2.069521
1     Birth_related_issues     0.335811
2                Poisoning     1.562039
3             Light_issues     1.312780
4              Month_Value     0.184698
5   Transportation Expense     0.691262
6                      Age    -0.198283
7          Body Mass Index     0.324360
8                Education    -0.126656
9                 Children     0.370177
10                    Pets    -0.325359

In [ ]:
#Adding the intercept to the table.
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept',reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -0.223756
1                 Diseases     2.069521
2     Birth_related_issues     0.335811
3                Poisoning     1.562039
4             Light_issues     1.312780
5              Month_Value     0.184698
6   Transportation Expense     0.691262
7                      Age    -0.198283
8          Body Mass Index     0.324360
9                Education    -0.126656
10                Children     0.370177
11                    Pets    -0.325359

In [ ]:
#Standardized coefficients are basically the coefficients of a regression where all variables have been standardized
#Not a good idea to scale dummy variables.

In [ ]:
summary_table['Odds_Ratio']=np.exp(summary_table.Coefficient)

In [ ]:
summary_table.sort_values('Odds_Ratio',ascending=False)

              Feature name  Coefficient  Odds_Ratio
1                 Diseases     2.069521    7.921031
3                Poisoning     1.562039    4.768536
4             Light_issues     1.312780    3.716491
6   Transportation Expense     0.691262    1.996232
10                Children     0.370177    1.447991
2     Birth_related_issues     0.335811    1.399074
8          Body Mass Index     0.324360    1.383144
5              Month_Value     0.184698    1.202855
9                Education    -0.126656    0.881037
7                      Age    -0.198283    0.820138
0                Intercept    -0.223756    0.799510
11                    Pets    -0.325359    0.722268

In [ ]:
#Drop Unnecessary Variables

Testing the model

In [ ]:
reg.score(x_test,y_test)

0.7357142857142858

In [ ]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.70804629, 0.29195371],
       [0.57178351, 0.42821649],
       [0.39895299, 0.60104701],
       [0.78714111, 0.21285889],
       [0.06691516, 0.93308484],
       [0.31109284, 0.68890716],
       [0.28582378, 0.71417622],
       [0.08093986, 0.91906014],
       [0.79926793, 0.20073207],
       [0.7496687 , 0.2503313 ],
       [0.46772305, 0.53227695],
       [0.18449682, 0.81550318],
       [0.04086632, 0.95913368],
       [0.75596678, 0.24403322],
       [0.23709315, 0.76290685],
       [0.54140798, 0.45859202],
       [0.53354387, 0.46645613],
       [0.52039975, 0.47960025],
       [0.40507469, 0.59492531],
       [0.02759587, 0.97240413],
       [0.70148836, 0.29851164],
       [0.78714111, 0.21285889],
       [0.40545618, 0.59454382],
       [0.40545618, 0.59454382],
       [0.17391667, 0.82608333],
       [0.75362875, 0.24637125],
       [0.48817233, 0.51182767],
       [0.88053255, 0.11946745],
       [0.13059235, 0.86940765],
       [0.78714111, 0.21285889],
       [0.62247425, 0.37752575],
       [0.30437845, 0.69562155],
       [0.28895164, 0.71104836],
       [0.44157966, 0.55842034],
       [0.78714111, 0.21285889],
       [0.43705325, 0.56294675],
       [0.79067389, 0.20932611],
       [0.18986981, 0.81013019],
       [0.58710261, 0.41289739],
       [0.36998588, 0.63001412],
       [0.79584274, 0.20415726],
       [0.57848411, 0.42151589],
       [0.77268351, 0.22731649],
       [0.89513347, 0.10486653],
       [0.14276767, 0.85723233],
       [0.34529847, 0.65470153],
       [0.29370238, 0.70629762],
       [0.70804629, 0.29195371],
       [0.78792994, 0.21207006],
       [0.80427711, 0.19572289],
       [0.43450126, 0.56549874],
       [0.92225898, 0.07774102],
       [0.31109284, 0.68890716],
       [0.73029003, 0.26970997],
       [0.14019617, 0.85980383],
       [0.54578776, 0.45421224],
       [0.06949094, 0.93050906],
       [0.78211875, 0.21788125],
       [0.91468256, 0.08531744],
       [0.91047636, 0.08952364],
       [0.29440565, 0.70559435],
       [0.3225053 , 0.6774947 ],
       [0.71278024, 0.28721976],
       [0.13921991, 0.86078009],
       [0.81010673, 0.18989327],
       [0.72936044, 0.27063956],
       [0.98595531, 0.01404469],
       [0.79067389, 0.20932611],
       [0.18707135, 0.81292865],
       [0.71499343, 0.28500657],
       [0.79067389, 0.20932611],
       [0.93124347, 0.06875653],
       [0.07140162, 0.92859838],
       [0.52206954, 0.47793046],
       [0.36134577, 0.63865423],
       [0.78714111, 0.21285889],
       [0.14962662, 0.85037338],
       [0.26408704, 0.73591296],
       [0.22931828, 0.77068172],
       [0.32006017, 0.67993983],
       [0.76328838, 0.23671162],
       [0.98845557, 0.01154443],
       [0.78211875, 0.21788125],
       [0.22297761, 0.77702239],
       [0.55457206, 0.44542794],
       [0.90100263, 0.09899737],
       [0.26777377, 0.73222623],
       [0.40545618, 0.59454382],
       [0.94848341, 0.05151659],
       [0.30437845, 0.69562155],
       [0.85602571, 0.14397429],
       [0.86122209, 0.13877791],
       [0.77817196, 0.22182804],
       [0.72936044, 0.27063956],
       [0.7496687 , 0.2503313 ],
       [0.12573789, 0.87426211],
       [0.69702716, 0.30297284],
       [0.21427718, 0.78572282],
       [0.76029427, 0.23970573],
       [0.81248944, 0.18751056],
       [0.33737954, 0.66262046],
       [0.30437845, 0.69562155],
       [0.27918665, 0.72081335],
       [0.24273428, 0.75726572],
       [0.53520877, 0.46479123],
       [0.4957175 , 0.5042825 ],
       [0.71882631, 0.28117369],
       [0.12573789, 0.87426211],
       [0.20662001, 0.79337999],
       [0.86740544, 0.13259456],
       [0.98959909, 0.01040091],
       [0.07487408, 0.92512592],
       [0.2494824 , 0.7505176 ],
       [0.65886996, 0.34113004],
       [0.45006774, 0.54993226],
       [0.42034788, 0.57965212],
       [0.14588413, 0.85411587],
       [0.15471885, 0.84528115],
       [0.45730036, 0.54269964],
       [0.69032997, 0.30967003],
       [0.73964286, 0.26035714],
       [0.862864  , 0.137136  ],
       [0.14806763, 0.85193237],
       [0.57848411, 0.42151589],
       [0.78714111, 0.21285889],
       [0.65838291, 0.34161709],
       [0.79584274, 0.20415726],
       [0.90442096, 0.09557904],
       [0.22848616, 0.77151384],
       [0.70148836, 0.29851164],
       [0.35778052, 0.64221948],
       [0.79584274, 0.20415726],
       [0.69702716, 0.30297284],
       [0.65838291, 0.34161709],
       [0.74404968, 0.25595032],
       [0.45006774, 0.54993226],
       [0.52039975, 0.47960025],
       [0.70412694, 0.29587306],
       [0.76029427, 0.23970573],
       [0.52206954, 0.47793046]])

In [ ]:
predicted_proba[:,1]

array([0.29195371, 0.42821649, 0.60104701, 0.21285889, 0.93308484,
       0.68890716, 0.71417622, 0.91906014, 0.20073207, 0.2503313 ,
       0.53227695, 0.81550318, 0.95913368, 0.24403322, 0.76290685,
       0.45859202, 0.46645613, 0.47960025, 0.59492531, 0.97240413,
       0.29851164, 0.21285889, 0.59454382, 0.59454382, 0.82608333,
       0.24637125, 0.51182767, 0.11946745, 0.86940765, 0.21285889,
       0.37752575, 0.69562155, 0.71104836, 0.55842034, 0.21285889,
       0.56294675, 0.20932611, 0.81013019, 0.41289739, 0.63001412,
       0.20415726, 0.42151589, 0.22731649, 0.10486653, 0.85723233,
       0.65470153, 0.70629762, 0.29195371, 0.21207006, 0.19572289,
       0.56549874, 0.07774102, 0.68890716, 0.26970997, 0.85980383,
       0.45421224, 0.93050906, 0.21788125, 0.08531744, 0.08952364,
       0.70559435, 0.6774947 , 0.28721976, 0.86078009, 0.18989327,
       0.27063956, 0.01404469, 0.20932611, 0.81292865, 0.28500657,
       0.20932611, 0.06875653, 0.92859838, 0.47793046, 0.63865423,
       0.21285889, 0.85037338, 0.73591296, 0.77068172, 0.67993983,
       0.23671162, 0.01154443, 0.21788125, 0.77702239, 0.44542794,
       0.09899737, 0.73222623, 0.59454382, 0.05151659, 0.69562155,
       0.14397429, 0.13877791, 0.22182804, 0.27063956, 0.2503313 ,
       0.87426211, 0.30297284, 0.78572282, 0.23970573, 0.18751056,
       0.66262046, 0.69562155, 0.72081335, 0.75726572, 0.46479123,
       0.5042825 , 0.28117369, 0.87426211, 0.79337999, 0.13259456,
       0.01040091, 0.92512592, 0.7505176 , 0.34113004, 0.54993226,
       0.57965212, 0.85411587, 0.84528115, 0.54269964, 0.30967003,
       0.26035714, 0.137136  , 0.85193237, 0.42151589, 0.21285889,
       0.34161709, 0.20415726, 0.09557904, 0.77151384, 0.29851164,
       0.64221948, 0.20415726, 0.30297284, 0.34161709, 0.25595032,
       0.54993226, 0.47960025, 0.29587306, 0.23970573, 0.47793046])

Save the model

In [ ]:
import pickle

In [ ]:
with open('model','wb') as file:
  pickle.dump(reg,file)

In [ ]:
with open('scaler','wb') as file:
  pickle.dump(absenteeism_scalar,file)